body{
    background-color: #fafafa;
    font-family: 'Tangerine', serif;
    overflow-x: hidden;
    color: white;

}

.navbar{
    position: fixed;
    width: 100%;
    top: 0;
    background-image: linear-gradient(rgba(100, 21, 123, 0.62), rgba(93, 0, 253, 0.51));
}

.container-fluid{
    padding: 0 80px;
}
.nav-link{
    font-size: 30px;
    letter-spacing: 5px;
    font-style: oblique;
    color: black;
    font-weight: 600;
}

.nav-link:hover{
    color: lightblue;
    background-color: darkcyan;
    border-radius: 50%;
}

.dropdown-item{
    font-size: 30px;
}


/*********************************end  of navbar*/
#buddah{
    margin-top: 90px;
}

.quotes{
    display: flex;
    padding: 0 90px;
}

.title{
    background-color: rgba(0, 100, 0, 0.65);
    margin-top: 10px;

}


.title h1{
    font-family: 'caramel;', cursive;
    text-align: center;
    font-size: 24px;
    letter-spacing: 2px;
    font-style: italic;
    color: black;
}

.left{
    border: 2px solid saddlebrown;
    flex: 3;
    margin-top: 5px;
    padding: 10px;
    background-image: linear-gradient(rgba(135, 0, 150, 0.63), rgba(83, 150, 0, 0.82)),
     url("images/buddha.jpg");
    background-position: center;
    background-size: cover;
}

ol li{
    font-size: 14px;
    font-family: 'Prosto One', cursive;
    margin-bottom: 10px;
}
.about-buddha{
    display: flex;
    width: 450px;
    padding: 5px;
    background-color: #532146;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    margin-top: 5px;
    margin-left: 5px;
    border: none;
    outline: none;

}
.image{
    display: block;
    max-width: 180px;
    margin-top: 5px;
    position: relative;
    transition: transform 0.4s;
}

.image:hover{
    transform: translateY(-5px);
}

.image p{
    top: 50px;
    left: 30px;
    font-size: 25px;
}

.k-text{
    position: absolute;
    left: 35px;
    top: 80px;
    cursor: pointer;
}
.k-text p{
    font-size: 30px;
    color: black;
}

.k-text ul li{
    font-size: 24px;
    list-style: none;
    color: #d141e1;
}

.image img{
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius: 24px;

}

.author{
    flex: 1;
    padding: 0;
}

.left .author h2{
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 20px;
    font-family: 'Zen Dots', cursive;
    text-align: center;
}
/*******all quotes************/

.text li{
    font-size: 35px;
    list-style: square;
    margin-left: 30px;
    margin-bottom: 15px;

}

#martin{
    margin: 5px 90px;

}

.left1 {
    width: 100%;
    align-items: center;
    justify-content: center;
    border: 2px solid saddlebrown;
    padding: 10px;
    background-image: linear-gradient(rgba(135, 0, 150, 0.63), rgba(83, 150, 0, 0.82)),
    url("images/lu.jpg");
    background-position: center;
    background-size: cover;
}

.martin-title{
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: #532146;
}
.martin-title h1{
    text-align: center;
    text-decoration: cadetblue underline;
}


/*****************************right section*********************/
.right-sect{
    border: 3px solid seagreen;
    margin-top: 5px;
    flex: 1;
    background-color:royalblue;
    margin-left: 5px;
    padding: 20px;
}




.title{
    margin-bottom: 20px;
}


/*********************media screen*****************/

@media  screen and (max-width: 600px){

    .right{
        display: none;
    }

    .quotes{
        display: block;
        padding: 20px;
    }



    .left{
        display: block;
        margin: 0;
        padding: 0;
    }

    .image{
        display: inline-block;
        margin-left: 20px;
        border: 3px solid darksalmon;
        padding: 10px;
    }

    .image img{
        border-radius: 50%;
    }

    ol li {
        font-size: 12px;
        font-family: 'Prosto One', cursive;
        margin-bottom: 10px;
    }
    .about-buddha{
        max-width: 300px;
    }
}